Repository eser/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: kebab-case-files-only, check-integrity

kebab-case-files-only:
  name: kebab-case files only
  entry: filenames must be kebab-case only
  language: fail

check-integrity:
  name: check integrity
  description: Check formatting, linting, license headers, types and run tests.
  entry: deno task ok
  pass_filenames: false
  language: system

refactor: added runmode for appserver.
  appserver/appserver.ts
  lime/mod.ts
  standards/mod.ts
  standards/run-modes.ts
Due: check-integrity

refactor: lime primitives.
  appserver/appserver.ts
  appserver/version-checker.ts
  collector/collector.ts
  collector/manifest.ts
  collector/validator-identifier/mod.ts
  di/invoker.ts
  functions/fn.test.ts
  jsx-runtime.test/root.test.tsx
  jsx-runtime.test/root.tsx
  jsx-runtime/encoder.js
  jsx-runtime/index.js
  lime/mod.ts
  lime/primitives.ts
  standards/run-modes.ts
  standards/runtime.ts
Due: check-integrity

deps: updated dependencies.
  .editorconfig
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  .tool-versions
  .vscode/settings.json
  Dockerfile
  _etc/tasks/check-license.ts
  _etc/tasks/deps.ts
  appserver/deps.ts
  collector/deps-dev.ts
  collector/deps.ts
  deno.jsonc
  deps.ts
  di/deps-dev.ts
  dotenv/deps.ts
  events/deps-dev.ts
  fp/deps-dev.ts
  functions/deps-dev.ts
  jsx-runtime.test/deps-dev.ts
  parsing/deps-dev.ts
  standards/deps.ts
Due: check-integrity

deps: updated dependencies (take II).
  .github/workflows/build.yml
Due: none

ci: pipeline fix.
  .github/workflows/build.yml
Due: none

fix: removed useless regexp char escapes
  _etc/tasks/check-license.ts
Due: check-integrity

chore: deno version requirement bump.
  .github/workflows/build.yml
  .tool-versions
  Dockerfile
  README.md
  deno.jsonc
  scripts/repl-init.ts
Due: check-integrity

fix: AppRuntime.default is now marked static readonly.
  pkg/app-runtime/app-runtime.ts
Due: check-integrity

fix: jsx-runtime type definitions.
  pkg/jsx-runtime/deno.jsonc
  pkg/jsx-runtime/mod.ts
Due: check-integrity

fix: export paths for events and di.
  pkg/di/deno.jsonc
  pkg/events/deno.jsonc
Due: none

chore: eser/cool -> eser/stack migration.
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  deno.jsonc
  pkg/@cool/cli/cool.ts
  pkg/@eser/collector/manifest.ts
  pkg/@eser/config/README.md
  pkg/@eser/di/README.md
  pkg/@eser/directives/01-social.md
  pkg/@eser/directives/02-technical.md
  pkg/@eser/directives/README.md
  pkg/@eser/fp/README.md
  pkg/@eser/parsing/README.md
  pkg/@eser/standards/README.md
  scripts/repl-init.ts
Due: kebab-case-files-only, check-integrity

chore: added missing readme files [placeholders for now]
  .pre-commit-config.yaml
  pkg/@cool/cli/README.md
  pkg/@cool/lime/README.md
  pkg/@eser/app-runtime/README.md
  pkg/@eser/bundler/README.md
  pkg/@eser/collector/README.md
  pkg/@eser/events/README.md
  pkg/@eser/functions/README.md
  pkg/@eser/jsx-runtime/README.md
  pkg/@eser/logging/README.md
Due: kebab-case-files-only, check-integrity

ci: added new workflows for github actions.
  .github/workflows/build.yml
  .github/workflows/version-bump.yml
  README.md
Due: check-integrity

chore: renamed all deno.jsonc files to deno.json.
  deno.json
  pkg/@cool/lime/deno.json
  pkg/@eser/app-runtime/deno.json
  pkg/@eser/bundler/deno.json
  pkg/@eser/collector/deno.json
  pkg/@eser/config/deno.json
  pkg/@eser/di/deno.json
  pkg/@eser/events/deno.json
  pkg/@eser/fp/deno.json
  pkg/@eser/functions/deno.json
  pkg/@eser/jsx-runtime.test/deno.json
  pkg/@eser/jsx-runtime/deno.json
  pkg/@eser/logging/deno.json
  pkg/@eser/parsing/deno.json
  pkg/@eser/standards/deno.json
  scripts/deno.json
Due: check-integrity

fix(scripts): deno.jsonc -> deno.json
  scripts/validate-configs.ts
Due: check-integrity

fix(scripts): version bump script
  .github/workflows/version-bump.yml
  deno.json
  scripts/bump-versions.ts
  scripts/deno.json
Due: check-integrity

chore: added test projects.
  .pre-commit-config.yaml
  deno.json
  pkg/@eser/parsing/README.md
  scripts/validate-licenses.ts
  test/apps/cf-workers-app/.gitignore
  test/apps/cf-workers-app/.prettierrc
  test/apps/cf-workers-app/package.json
  test/apps/cf-workers-app/src/index.ts
  test/apps/cf-workers-app/test/index.spec.ts
  test/apps/cf-workers-app/test/tsconfig.json
  test/apps/cf-workers-app/tsconfig.json
  test/apps/cf-workers-app/vitest.config.mts
  test/apps/cf-workers-app/worker-configuration.d.ts
  test/apps/cf-workers-app/wrangler.toml
  test/apps/cool-lime-app/build.ts
  test/apps/cool-lime-app/main.ts
  test/apps/cool-lime-app/manifest.jsonc
  test/apps/cool-lime-app/manifest.yaml
  test/apps/cool-lime-app/pkg/app/mod.tsx
  test/apps/jsx-runtime-app/deno.json
  test/apps/jsx-runtime-app/root.test.tsx
  test/apps/jsx-runtime-app/root.tsx
  test/apps/vite-app/.eslintrc.cjs
  test/apps/vite-app/.gitignore
  test/apps/vite-app/README.md
  test/apps/vite-app/index.html
  test/apps/vite-app/package.json
  test/apps/vite-app/public/vite.svg
  test/apps/vite-app/src/app.css
  test/apps/vite-app/src/app.tsx
  test/apps/vite-app/src/assets/react.svg
  test/apps/vite-app/src/index.css
  test/apps/vite-app/src/main.tsx
  test/apps/vite-app/src/vite-env.d.ts
  test/apps/vite-app/tsconfig.app.json
  test/apps/vite-app/tsconfig.json
  test/apps/vite-app/tsconfig.node.json
  test/apps/vite-app/vite.config.ts
Due: kebab-case-files-only, check-integrity

feat(*): bump all versions feature
  scripts/bump-versions.ts
Due: check-integrity

chore: update versions
  Releases.md
  pkg/@cool/lime/deno.json
  pkg/@eser/app-runtime/deno.json
  pkg/@eser/bundler/deno.json
  pkg/@eser/collector/deno.json
  pkg/@eser/config/deno.json
  pkg/@eser/di/deno.json
  pkg/@eser/events/deno.json
  pkg/@eser/fp/deno.json
  pkg/@eser/functions/deno.json
  pkg/@eser/jsx-runtime/deno.json
  pkg/@eser/logging/deno.json
  pkg/@eser/parsing/deno.json
  pkg/@eser/standards/deno.json
Due: kebab-case-files-only, check-integrity

ci: codeql now runs only on main branch
  .github/workflows/codeql-analysis.yml
  pkg/@cool/lime/deno.json
  pkg/@eser/app-runtime/deno.json
  pkg/@eser/bundler/deno.json
  pkg/@eser/collector/deno.json
  pkg/@eser/config/deno.json
  pkg/@eser/di/deno.json
  pkg/@eser/events/deno.json
  pkg/@eser/fp/deno.json
  pkg/@eser/functions/deno.json
  pkg/@eser/jsx-runtime/deno.json
  pkg/@eser/logging/deno.json
  pkg/@eser/parsing/deno.json
  pkg/@eser/standards/deno.json
Due: check-integrity

refactor: bumped to deno version 2.x.
  .dockerignore
  .github/workflows/build.yml
  .gitignore
  .pre-commit-config.yaml
  .tool-versions
  .vscode/settings.json
  Dockerfile
  README.md
  _etc/cover.svg
  _etc/lime-logo.svg
  deno.json
  deno.lock
  etc/cover.png
  etc/cover.svg
  etc/lime-favicon.ico
  etc/lime-logo.svg
  etc/scripts/bump-versions.ts
  etc/scripts/deno.json
  etc/scripts/repl-init.ts
  etc/scripts/validate-configs.ts
  etc/scripts/validate-licenses.ts
  etc/temp/.gitkeep
  etc/templates/.gitkeep
  pkg/@eser/bundler/deno.json
  pkg/@eser/bundler/esbuild.ts
  pkg/@eser/collector/deno.json
  pkg/@eser/config/deno.json
  pkg/@eser/di/deno.json
  pkg/@eser/events/deno.json
  pkg/@eser/functions/deno.json
  pkg/@eser/jsx-runtime/deno.json
  scripts/deno.json
  test/apps/jsx-runtime-app/deno.json
  test/apps/vite-app/index.html
  test/apps/vite-app/public/vite.svg
  test/apps/vite-app/src/assets/react.svg
Due: check-integrity

refactor: bumped to deno version 2.x (take II).
  .github/workflows/build.yml
  deno.json
Due: check-integrity

deps: updated dependencies.
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/version-bump.yml
Due: none

deps: updated dependencies.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  deno.lock
  pkg/@eser/jsx-runtime/deno.json
Due: check-integrity

chore: added some tests.
  .github/SECURITY.md
  .github/workflows/build.yml
  README.md
  deno.lock
  pkg/@eser/bundler/deno.json
  pkg/@eser/bundler/esbuild.test.ts
  pkg/@eser/jsx-runtime/deno.json
  pkg/@eser/jsx-runtime/jsx-runtime.test.ts
  pkg/@eser/logging/deno.json
  pkg/@eser/logging/logger.test.ts
Due: kebab-case-files-only, check-integrity

Potential fix for code scanning alert no. 7: Workflow does not contain permissions
  .github/workflows/codeql-analysis.yml
Due: none

deps: updated dependencies.
  pkg/@cool/lime/deno.json
  pkg/@eser/app-runtime/deno.json
  pkg/@eser/bundler/deno.json
  pkg/@eser/collector/deno.json
  pkg/@eser/config/deno.json
  pkg/@eser/cs/deno.json
  pkg/@eser/di/deno.json
  pkg/@eser/events/deno.json
  pkg/@eser/fp/deno.json
  pkg/@eser/functions/deno.json
  pkg/@eser/jsx-runtime/deno.json
  pkg/@eser/logging/deno.json
  pkg/@eser/parsing/deno.json
  pkg/@eser/standards/deno.json
  pkg/@eser/writer/deno.json
Due: check-integrity

Path conditions:
  kebab-case-files-only: any of: [^a-z0-9.\-\/\[\]\@], but not: (?x)^(
  _etc/.*|
  .github/FUNDING.yml|
  .github/ISSUE_TEMPLATE/bug_report.md|
  .github/ISSUE_TEMPLATE/feature_request.md|
  .github/PULL_REQUEST_TEMPLATE.md|
  appserver/README.md|
  di/README.md|
  directives/README.md|
  dotenv/README.md|
  events/README.md|
  fp/README.md|
  functions/README.md|
  jsx-runtime/README.md|
  lime/*|
  parsing/README.md|
  standards/README.md|
  CNAME|
  CODE_OF_CONDUCT.md|
  CONTRIBUTING.md|
  Dockerfile|
  LICENSE|
  README.md|
  SECURITY.md
)$

  check-integrity: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(md|markdown|mdown)$
